/* IMPORTATION DES POLICES */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COMPORTEMENT GENERALE DE LA PAGE */
body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 9%);
    color: #e9e9e9;
    width: 100vw;
}
a{
    text-decoration: none;
    color: #e9e9e9
}
ul{
    list-style: none;
    padding: 0;
}
span{
    font-weight: 200;
}
hr{
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
}




/*          HEADER            */

header{
    text-align: center;
    height:15vh ;
    display: flex;
    align-content: center;
    justify-content: center;
}
header a{
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    width: 25%;
}

header a > *{
    margin: 2%;
}


/*         HAT DE PAGE      */

.index{
    background-image: url("../img/japaneseNeon.jpg");
}

.topPageImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 38vh;
    position: relative;   
}

.topPageImg h2{
    font-weight: 900;
    font-size: 36px;
    position: absolute;
    top: 40%; 
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    margin-left: 5%;
}


/*        BUTON D'ACCES A LA PAGE MES ARTISTES        */

#mesArtistesButton{
    background: linear-gradient(190deg, #0028FA 0%, #FF00B8 76.85%), #373737;
    width: 85%;
    margin: auto;
    text-align: center;    
}

#mesArtistesButton a{
    display: inline-block;
}

#mesArtistesButton p{
    border: solid white 1px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.5em;
    font-weight: 800;
    font-size: 20px;
}

/*      SECTION DE RECHERCHE D'ARTISTE     */

#search *{
    text-align: center;
}
#search span{
    font-weight: 800;
}
#searchBar{
    width: 70%;
    background-color: #373737;
    border-image: linear-gradient(270deg, rgba(5, 0, 255, 0.65) 2.2%, rgba(255, 0, 229, 0.69) 100%) 10;
}

.searchButton ul{
    display: flex;
    justify-content: space-evenly;
}
.searchButton li{
    width: 15%;
}
.searchButton img{
    width: 100%;
    border: solid #828282 1px;
    border-radius: 10px;
}

/*         LISTE DES ARTISTES       */

#artiste, .mesArtistesPage, .artisteDuMoment, .artisteDuMomentDesktop{
    text-align: center;
}
#artiste h2, .mesArtistesPage h2, .artisteDuMoment h2, .artisteDuMomentDesktop h2{
    letter-spacing: 3px;
    display: inline-block;
    border: solid 3px;
    border-image: linear-gradient(190deg, #FF00E5 10.45%, #000AFF 92.79%) 10;
    padding: 3%;
    margin-bottom: 2em;
}

.card{
    width: 45%;
    margin-bottom: 1.5em;
    color: #c4c4c4;
}
.card h3{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.card .img{
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    
}
.card img, .cardMesArtistes img{
    display: none;
}

.artisteContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*        FOOTER         */

footer{
    margin-top: 3em;
    background: linear-gradient(180deg, #000000 0%, #FFFFFF 100%), #484848;
    border-top: solid 1px #FF00E5;
}
 footer h4{
     margin: 0;
     padding: 3px;
     border: solid 3px;
     border-image: linear-gradient(190deg, #FF00E5 10.45%, #000AFF 92.79%) 10;
     width: 35%;
     margin: auto;
 }
.footerContainer{
    margin-left: 1em;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footerLogo{
    text-align: center;
}

footer img{
    width: 20%;
}

footer li{
    line-height: 30px;
    font-weight: 300;
    font-size: 12px;
}

/* ------PAGE MES ARTISTES------ */
/* HAUT DE PAGE */
.mesArtistes{
    background-image: url("../img/tokyoNeon.jpg");
}

.mesArtistes h2{
    text-shadow: 4px 4px 4px rgba(5, 0, 255, 0.47);
}

/* MES ARTISTES */
.mesArtistesContainerTab{
    display: none;
}

.cardMesArtistes{
    margin-bottom: 3em;
}

.cardMesArtistes h3{
    margin-bottom: 0;
    color: #c4c4c4;
    font-weight: 500;
}
.cardMesArtistes .img{
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
}

.cardMesArtistes .tS{
    background-position: 10% 35%;
}

.cardMesArtistes .mJ{
    background-position: 10% 10%;
}

iframe{
    width: 100%;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.24);
}

/* ARTISTE DU MOMENT */

.artisteDuMomentDesktop{
    display: none;
}

.artisteDuMomentText{
    color: #c4c4c4;
    width: 75%;
    margin: auto;
}
.artisteDuMomentBackgroundContainer{
    position: relative;
    text-align: center;
}

.artisteDuMomentBackground{
    height: 350px;
    width: 90%;
    margin: auto;
    background-size: cover;
    background-position: center;
    filter : blur(2px)
}

.artisteDuMoment img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);    
    width: 65%;
    max-height: 70%;
}

.artisteDuMoment h3{
    margin-top: 0;
}

p.artisteDuMomentText{
    text-align: left;
    text-align: justify;
    margin-bottom: 2em;
}

.concertDate{
    background: linear-gradient(200deg, #0028FA 0%, #FF00B8 76.85%), #373737;
    width: 90%;
    margin: auto;
    height: 180px;
    text-align: center; 
}

.concertDate h3{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border: solid white 1px;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em;
}

.concertDate p{
    font-size: 14px;
    width: 90%;
    margin: auto;
    margin-top: 1em;
}



  /* |||||||||||||||||||| FORMAT TABLETTE ||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  /* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media screen and (min-width:640px){

    hr{
        width:30%;
    }
   
    /* HAUT DE PAGE / page 1 et 2*/
    .topPageImg{
        background-image: url("../img/bedroom.jpg");
        background-position: top;
    }
    .topPageImg h2{
        font-size: 50px;
    }

    /* BOUTON D'ACCES A MES ARTISTES / PREMIUM  / page 1 et 2*/
    #mesArtistesButton{
        width: 60%;
    }
    #mesArtistesButton p{
        font-size: 24px;
    }

    /* SECTION DE RECHERCHE D'ARTISTES / page 1*/
    #search{
        display: flex;
        justify-content: space-evenly;
    }
    .searchButton{
        width: 50%;
    }
    .searchBar{
        width: 50%;
    }

    /* LISTE D'EARTISTES / page 1*/
    .card{
        width: 23%;
    }

    /* MES ARTISTES / page 2 */
    .mesArtistesContainer{
        display: none;
    }
    .mesArtistesContainerTab{
        display: block;
    }
    .mesArtistesCardContainer{
        display: flex;
        justify-content: space-evenly;
    }
    .cardMesArtistes{
        width: 23%;
        height: auto;
    }
    .cardMesArtistes .img{
        height: 170px;
    }

    .cardClicked{
        border: solid 3px;
        border-image: linear-gradient(190deg, #FF00E5 10.45%, #000AFF 92.79%) 10;
    }

    /* iframe VIDEO */
    iframe{
        width: 80%;
        height: 450px;
        margin: auto auto 3em auto;
        display : none;
    }
    .active{
        display: block;
    }

    /* ARTISTE DU MOMENT */
    .artisteDuMomentContainer{
        width: 90%;
        margin: auto;
        background-color: #272727;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .artisteDuMomentBackground{
        height: 450px;
        width: 80%;
        margin: auto;
        background-size: cover;
        background-position: center;
        filter : blur(2px)
    }
    
    .artisteDuMoment img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);    
        width: 50%;
        max-height: 100%;
    }
  }


  /* |||||||||||||||||||| FORMAT DESKTOP |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  /* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
  @media screen and (min-width:1024px){
    
    /* HAUT DE PAGE */
    .topPageImg{
        background-position: center;
        height: 60vh;
    }
    .topPageImg h2{
        left: 10%;
        font-size: 60px;
    }

    /* MAIN / largeur de 80% pour la version desktop */
    .main{
        width: 80%;
        margin: auto;
    }

    /* BOUTTON D'ACCES A MES ARTISTES / PREMIUM */
    #mesArtistesButton{
        width: 100%;
    }
    #mesArtistesButton p{
        border: solid white 2px;
        padding-left: 3em;
        padding-right: 3em;
    }

    /* SECTION DE RECHERCHE D'ARTISTES */
    #search{
        width: 80%;
        margin: auto;
    }
    .searchButton{
        width: 40%;
    }

    /* LISTE D'ARTISTE */
    .card{
        width: 18%;
    }
    .card .img{
        height: 230px;
    }
    #artiste h2, .mesArtistesPage h2, .artisteDuMoment h2, .artisteDuMomentDesktop h2{
        padding: 1% 2% 1% 2%;
    }

    /* PAGE MES ARTISTES */
    .cardMesArtistes{
        width: 20%;
    }
    .cardMesArtistes .img{
        height: 230px;
    }
    iframe{
        width: 70%;
        height: 500px;
        margin: auto auto 3em auto;
        display : none;
    }

    /* ARTISTE DU MOMENT */
    .artisteDuMoment{
        display: none;
    }
    .artisteDuMomentDesktop{
        display: block;
        width: 100%;
        margin: auto;
    }
    .artisteDuMomentContainerDesktop{
        background-color: #272727;
        display: flex;
        justify-content: space-around;
    }
    .concertDate{
        width: 100%;
    }
    .artisteDuMomentContainerDesktop img{
        width: 40%;
    }
    .rightPart{
        background-color: #272727;
    }
    .rightPart h3{
        color: ivory;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    /* FOOTER */
    .footerContainer ul{
        display: flex;
        justify-content: space-between;
    }
    footer a{
        margin-left: 5em;
    }

    #footerLogo{
        display: flex;
        justify-content: space-around;
    }
    #footerLogo h4{
        margin-left: 10px;
    }
  }